.adminsuppliers-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #dff6ff;
    padding-top: 20px;
}

.adminsuppliers-table {
    border: 1px solid #5d8bfa;
    width: 95%;
    max-width: 1500px;
}

.adminsuppliers-th {
    border-bottom: 1px solid #051367;
}

.adminsuppliers-td {
    text-align: center;
}

.adminsuppliers-button {
    width: 100px;
    height: 40px;
    background-color: #2D31FA;
    color: #dff6ff;
    border: 1px;
    border-radius: 20px;
    cursor: pointer;
}

.adminsuppliers-button:hover{
    border-radius: 10px;
    color: #5d8bfa;
    background-color:  #051367;
}

.adminsuppliers-h2 {
    background-color: #5d8bfa;
    padding-bottom: 10px;
}

.adminsuppliers-label {
    background-color: #5d8bfa;
    font-size: 25px;
}

.adminsuppliers-input{
    font-size: 20px;
    padding-left: 25px;
}

.adminsuppliers-select{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #051367;
    border: none;
    outline: none;
    background-color: #5d8bfa;
    color: #000;
    font-size: 20px;
    padding-left: 25px;
}