.CustomerAddOrderForm-main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #dff6ff;
    height: 100%;
}

.CustomerAddOrderForm-sub-main {
    display: flex;
    justify-content: center;
    height: 670px;
    width: 450px;
    box-shadow: 2px 3px 4px 3px #2D31FA;
    padding-top: 30px;
    border-radius: 60px;
    background-color: #5d8bfa;
}

.CustomerAddOrderForm-sub-sub-main {
    background-color: #5d8bfa;
    height: 400px;
}

.CustomerAddOrderForm-imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    background-color: #5d8bfa;
}

.CustomerAddOrderForm-container-image {
    background-color: #2D31FA;
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
}

.CustomerAddOrderForm-form-profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
    background-color: #dff6ff;
    display: flex;
}


input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #051367;
    border: none;
    outline: none;
    background-color: #5d8bfa;
    color: #000;
}

textarea{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 25px 0px #051367;
    border: none;
    outline: none;
    background-color: #5d8bfa;
    color: #000;
}

.CustomerAddOrderForm-details {
    background-color: #5d8bfa;
}

.CustomerAddOrderForm-heading {
    background-color: #5d8bfa;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.CustomerAddOrderForm-name {
    color: black;
    padding-left: 20px;
    font-size: 20px;
}

.CustomerAddOrderForm-second-input {
    padding-top: 20px;
    background-color: #5d8bfa;
}

.CustomerAddOrderForm-button {
    width: 330px;
    height: 50px;
    border-radius: 60px;
    background-color: #2D31FA;
    color: #dff6ff;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.CustomerAddOrderForm-button:hover{
    border-radius: 10px;
    color: #051367;
    background-color: #dff6ff;
}

.CustomerAddOrderForm-login-button {
    padding-top: 25px;
    background-color: #5d8bfa;
}

.CustomerAddOrderForm-radio{
    width: 20px;
    height: 20px;
}